<div class="main-container">
  <h2><%= @list.name %></h2>
  <div class="row">
    <div class="col-8">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="movie-card">
          <div class="card-top">
            <div><%= image_tag "movie-card.jpg", alt: "Movie Card" %></div>
          </div>
          <div class="card-bottom flex">
            <div class="bottom-left">
              <h4><%= bookmark.movie.title %></h4>
              <p><%= bookmark.comment %></p>
            </div>
            <%= link_to bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.association :movie %>
          <%= f.input :comment %>
        </div>
        <div class="form-actions btn-dark">
          <%= f.button :submit, "Add a Movie"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
